*{
    margin: 0px;
    padding: 0px;
}
.newsContainer{
    /* margin: 50px; */
    padding: 10px;
    background-color: gray;
    border: 50px solid darkgray;
    display: flex;
}

.newsContainer article {
    width: 30%;
}
.newsContainer article img{
    width: 100%;
}